{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 class="display-5">Studentai</h1>
        <ul class="list-group">
              {% for projectName,contributors in data %}
                {% for student in contributors.members %}
                <li class="list-group-item">
                  <a href="{{ path('academy', {'utm_source' : 'akademija','utm_campaign':contributors.mentor,'utm_term': student,'utm_content':projectName}) }}">{{student}}</a>
                </li>
                {% endfor %}
              {% endfor %}
        </ul>

{% endblock %}
